// advantages
.advantages
  .container 
    .row 
      .advantages__col.col-lg-6
        a(href="#").advantages__item 
          h3.advantages__title Печать 
            span в 4 раза 
            | быстрее 
          p.advantages__text Скорость печати быстрее всех известных на рынке стандартных принтеров американского и китайского производства без потери в качестве.
          .advantages__more Узнать больше
          .advantages__img 
            picture
              source(media="(max-width: 576px)", srcset="img/advantage_1_sm.webp")
              img(src="img/advantage_1.webp", alt="")
      .advantages__col.col-lg-6
        a(href="#").advantages__item 
          h3.advantages__title Регулируемая платформа
          p.advantages__text Печатная платформа регулируется автоматически и не требует настройки оператором принтера.
          .advantages__more Узнать больше
          .advantages__img 
            picture
              source(media="(max-width: 576px)", srcset="img/advantage_2_sm.webp")
              img(src="img/advantage_2.webp", alt="")
      .advantages__col.col-lg-6
        a(href="#").advantages__item 
          h3.advantages__title Автодолив полимера
          p.advantages__text С помощью автоматической системы долива расходного материала принтер позволяет пользователю практически не контролировать процесс.
          .advantages__more Узнать больше
          .advantages__img 
            picture
              source(media="(max-width: 576px)", srcset="img/advantage_3_sm.webp")
              img(src="img/advantage_3.webp", alt="")
      .advantages__col.col-lg-6
        a(href="#").advantages__item 
          h3.advantages__title Не требует постобработки
          p.advantages__text Вы экономите на дополнительном оборудовании для промывки готового изделия и его дозасветки после печати.
          .advantages__more Узнать больше
          .advantages__img 
            picture
              source(media="(max-width: 576px)", srcset="img/advantage_4_sm.webp")
              img(src="img/advantage_4.webp", alt="")
//	/advantages