// footer
footer.footer.footer--login
	.container 
		.footer__line
		.footer__bottom 
			p &#169; 2021, Kulibin Print. Все права защищены.
			.footer__dgdgf.d-flex.flex-wrap
				a(href="#") Политика конфиденциальности
				a(href="#") Условия обслуживания
// /footer