// header
header.header#header

		.header__container

			.container.d-flex

				.header__col

					.header__btn.js-menu-btn(data-drop="menuDrop").d-xl-none.d-block
        
					a(href="#").header__logo.d-xl-block.d-none
						img(src="img/logo.svg", alt="")
					.header__slogan Личный кабинет пользователя

					.header__checktheme.d-xl-inline-flex.d-none
						.header__checktheme-icon.active
							svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M9.00078 1.80005C9.23948 1.80005 9.46839 1.89487 9.63718 2.06365C9.80596 2.23244 9.90078 2.46135 9.90078 2.70005V3.60005C9.90078 3.83874 9.80596 4.06766 9.63718 4.23644C9.46839 4.40523 9.23948 4.50005 9.00078 4.50005C8.76209 4.50005 8.53317 4.40523 8.36438 4.23644C8.1956 4.06766 8.10078 3.83874 8.10078 3.60005V2.70005C8.10078 2.46135 8.1956 2.23244 8.36438 2.06365C8.53317 1.89487 8.76209 1.80005 9.00078 1.80005ZM12.6008 9.00005C12.6008 9.95483 12.2215 10.8705 11.5464 11.5456C10.8712 12.2208 9.95556 12.6 9.00078 12.6C8.046 12.6 7.13033 12.2208 6.4552 11.5456C5.78007 10.8705 5.40078 9.95483 5.40078 9.00005C5.40078 8.04527 5.78007 7.12959 6.4552 6.45446C7.13033 5.77933 8.046 5.40005 9.00078 5.40005C9.95556 5.40005 10.8712 5.77933 11.5464 6.45446C12.2215 7.12959 12.6008 8.04527 12.6008 9.00005ZM12.1832 13.455L12.8195 14.0913C12.9892 14.2553 13.2166 14.346 13.4525 14.344C13.6885 14.3419 13.9142 14.2473 14.0811 14.0804C14.248 13.9135 14.3426 13.6878 14.3447 13.4518C14.3467 13.2158 14.256 12.9885 14.0921 12.8187L13.4558 12.1824C13.286 12.0185 13.0587 11.9278 12.8227 11.9298C12.5867 11.9319 12.361 12.0265 12.1941 12.1934C12.0273 12.3603 11.9326 12.586 11.9306 12.822C11.9285 13.058 12.0192 13.2853 12.1832 13.455ZM14.0912 3.90875C14.2599 4.07752 14.3547 4.3064 14.3547 4.54505C14.3547 4.7837 14.2599 5.01257 14.0912 5.18135L13.4558 5.81765C13.3728 5.90361 13.2734 5.97217 13.1636 6.01934C13.0538 6.06651 12.9357 6.09134 12.8162 6.09237C12.6967 6.09341 12.5782 6.07064 12.4676 6.02539C12.357 5.98014 12.2565 5.91331 12.172 5.8288C12.0875 5.7443 12.0207 5.64381 11.9754 5.53321C11.9302 5.4226 11.9074 5.30409 11.9085 5.18459C11.9095 5.06509 11.9343 4.94699 11.9815 4.83718C12.0287 4.72738 12.0972 4.62807 12.1832 4.54505L12.8195 3.90875C12.9883 3.74002 13.2171 3.64524 13.4558 3.64524C13.6944 3.64524 13.9233 3.74002 14.0921 3.90875H14.0912ZM15.3008 9.90005C15.5395 9.90005 15.7684 9.80523 15.9372 9.63644C16.106 9.46766 16.2008 9.23874 16.2008 9.00005C16.2008 8.76135 16.106 8.53243 15.9372 8.36365C15.7684 8.19487 15.5395 8.10005 15.3008 8.10005H14.4008C14.1621 8.10005 13.9332 8.19487 13.7644 8.36365C13.5956 8.53243 13.5008 8.76135 13.5008 9.00005C13.5008 9.23874 13.5956 9.46766 13.7644 9.63644C13.9332 9.80523 14.1621 9.90005 14.4008 9.90005H15.3008ZM9.00078 13.5C9.23948 13.5 9.46839 13.5949 9.63718 13.7637C9.80596 13.9324 9.90078 14.1614 9.90078 14.4V15.3C9.90078 15.5387 9.80596 15.7677 9.63718 15.9364C9.46839 16.1052 9.23948 16.2 9.00078 16.2C8.76209 16.2 8.53317 16.1052 8.36438 15.9364C8.1956 15.7677 8.10078 15.5387 8.10078 15.3V14.4C8.10078 14.1614 8.1956 13.9324 8.36438 13.7637C8.53317 13.5949 8.76209 13.5 9.00078 13.5ZM4.54578 5.81765C4.62934 5.90127 4.72855 5.96761 4.83775 6.01289C4.94695 6.05816 5.064 6.08149 5.18221 6.08153C5.30043 6.08157 5.41749 6.05833 5.52672 6.01313C5.63595 5.96793 5.73521 5.90166 5.81883 5.8181C5.90245 5.73454 5.96879 5.63533 6.01407 5.52613C6.05935 5.41693 6.08267 5.29988 6.08271 5.18167C6.08275 5.06345 6.05951 4.94639 6.01431 4.83716C5.96911 4.72793 5.90284 4.62867 5.81928 4.54505L5.18208 3.90875C5.01234 3.74481 4.785 3.65409 4.54902 3.65614C4.31304 3.65819 4.08731 3.75284 3.92044 3.91971C3.75358 4.08658 3.65893 4.31231 3.65687 4.54829C3.65482 4.78426 3.74554 5.01161 3.90948 5.18135L4.54578 5.81765ZM5.81838 13.455L5.18208 14.0913C5.01234 14.2553 4.785 14.346 4.54902 14.344C4.31304 14.3419 4.08731 14.2473 3.92044 14.0804C3.75358 13.9135 3.65893 13.6878 3.65687 13.4518C3.65482 13.2158 3.74554 12.9885 3.90948 12.8187L4.54578 12.1824C4.71552 12.0185 4.94286 11.9278 5.17884 11.9298C5.41482 11.9319 5.64055 12.0265 5.80742 12.1934C5.97428 12.3603 6.06894 12.586 6.07099 12.822C6.07304 13.058 5.98232 13.2853 5.81838 13.455ZM3.60078 9.90005C3.83948 9.90005 4.06839 9.80523 4.23718 9.63644C4.40596 9.46766 4.50078 9.23874 4.50078 9.00005C4.50078 8.76135 4.40596 8.53243 4.23718 8.36365C4.06839 8.19487 3.83948 8.10005 3.60078 8.10005H2.70078C2.46209 8.10005 2.23317 8.19487 2.06439 8.36365C1.8956 8.53243 1.80078 8.76135 1.80078 9.00005C1.80078 9.23874 1.8956 9.46766 2.06439 9.63644C2.23317 9.80523 2.46209 9.90005 2.70078 9.90005H3.60078Z")
						.header__checktheme-icon
							svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M15.5636 11.9637C14.2303 12.5668 12.7448 12.7493 11.3051 12.4868C9.86548 12.2244 8.53995 11.5295 7.50518 10.4947C6.4704 9.45994 5.77551 8.13442 5.51307 6.69475C5.25063 5.25508 5.43312 3.76962 6.03622 2.43628C4.97472 2.91599 4.04545 3.64605 3.32812 4.56384C2.61079 5.48163 2.12682 6.55974 1.91773 7.70568C1.70865 8.85162 1.78068 10.0312 2.12766 11.1432C2.47464 12.2551 3.0862 13.2663 3.90988 14.09C4.73356 14.9137 5.74476 15.5253 6.85674 15.8722C7.96872 16.2192 9.14828 16.2912 10.2942 16.0822C11.4402 15.8731 12.5183 15.3891 13.4361 14.6718C14.3538 13.9544 15.0839 13.0252 15.5636 11.9637Z")
				.header__col
					
					a(href="#").header__logo.d-xl-none.d-block
						img(src="img/logo.svg", alt="")

				.header__col

					.header__lang.nout-hide
						.header__langbtn.js-drop-btn(data-drop="lang")
							svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
								g(clip-path="url(#clip0_78_1856)")
									path(d="M9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 13.9706 13.9706 18 9 18Z" fill="#F0F0F0")
									path(d="M0.559793 12.1305C0.198 11.1555 0 10.1009 0 9.00005C0 7.89916 0.198 6.84462 0.559793 5.86963H17.4402C17.802 6.84462 18 7.89916 18 9.00005C18 10.1009 17.802 11.1555 17.4402 12.1305L9 12.9131L0.559793 12.1305Z" fill="#0052B4")
									path(d="M8.99973 18C5.13005 18 1.83116 15.5576 0.559528 12.1304H17.4399C16.1683 15.5576 12.8694 18 8.99973 18Z" fill="#D80027")
								defs
									clipPath(id="clip0_78_1856")
										rect(width="18" height="18" fill="white" transform="matrix(-1 0 0 1 18 0)")
							| RU
							svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M8.00033 0.666748C3.95033 0.666748 0.666992 3.95008 0.666992 8.00008C0.666992 12.0501 3.95033 15.3334 8.00033 15.3334C12.0503 15.3334 15.3337 12.0501 15.3337 8.00008C15.3337 3.95008 12.0503 0.666748 8.00033 0.666748ZM5.86699 6.50024C5.77238 6.49915 5.67914 6.52297 5.59664 6.56931C5.51415 6.61565 5.44529 6.68288 5.39699 6.76424C5.35152 6.84329 5.32984 6.93378 5.33457 7.02485C5.3393 7.11591 5.37024 7.20367 5.42366 7.27758L7.55699 10.2776C7.6079 10.3472 7.67467 10.4037 7.75176 10.4425C7.82885 10.4812 7.91406 10.501 8.00033 10.5002C8.0867 10.5011 8.17204 10.4813 8.24926 10.4426C8.32648 10.4039 8.39335 10.3473 8.44433 10.2776L10.5777 7.27758C10.6311 7.20367 10.662 7.11591 10.6667 7.02485C10.6715 6.93378 10.6498 6.84329 10.6043 6.76424C10.556 6.68278 10.487 6.61549 10.4044 6.56914C10.3218 6.5228 10.2284 6.49904 10.1337 6.50024H5.86699Z")
						#lang.header__langdrop 
							ul.header__langlist 
								li 
									a(href="#") 
										svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0_78_1856)")
												path(d="M9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9C18 13.9706 13.9706 18 9 18Z" fill="#F0F0F0")
												path(d="M0.559793 12.1305C0.198 11.1555 0 10.1009 0 9.00005C0 7.89916 0.198 6.84462 0.559793 5.86963H17.4402C17.802 6.84462 18 7.89916 18 9.00005C18 10.1009 17.802 11.1555 17.4402 12.1305L9 12.9131L0.559793 12.1305Z" fill="#0052B4")
												path(d="M8.99973 18C5.13005 18 1.83116 15.5576 0.559528 12.1304H17.4399C16.1683 15.5576 12.8694 18 8.99973 18Z" fill="#D80027")
											defs
												clipPath(id="clip0_78_1856")
													rect(width="18" height="18" fill="white" transform="matrix(-1 0 0 1 18 0)")
										| Русский
								li 
									a(href="#") 
										svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(clip-path="url(#clip0_78_1898)")
												path(d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#F0F0F0")
												path(d="M8.60889 9.00018H18.0002C18.0002 8.18786 17.8919 7.40092 17.6901 6.65234H8.60889V9.00018Z" fill="#D80027")
												path(d="M8.60889 4.30438H16.6792C16.1283 3.40537 15.4239 2.61073 14.6025 1.95654H8.60889V4.30438Z" fill="#D80027")
												path(d="M9.00031 18C11.1184 18 13.0653 17.2679 14.6027 16.0435H3.39795C4.93533 17.2679 6.88218 18 9.00031 18Z" fill="#D80027")
												path(d="M1.32147 13.696H16.6795C17.1218 12.9743 17.4649 12.1854 17.6905 11.3481H0.310547C0.536145 12.1854 0.879164 12.9743 1.32147 13.696Z" fill="#D80027")
												path(d="M4.16897 1.40548H4.98913L4.22624 1.95971L4.51765 2.85652L3.75479 2.30228L2.99194 2.85652L3.24366 2.08178C2.57196 2.64129 1.98323 3.29681 1.49808 4.02722H1.76087L1.27526 4.38001C1.1996 4.50622 1.12704 4.63444 1.0575 4.76455L1.28939 5.47826L0.856758 5.16393C0.749215 5.39177 0.650848 5.62475 0.56243 5.86259L0.81791 6.64896H1.76087L0.99798 7.2032L1.28939 8.1L0.526535 7.54576L0.0695742 7.87778C0.0238359 8.24544 0 8.61993 0 9H9C9 4.02947 9 3.44348 9 0C7.22208 0 5.56471 0.515742 4.16897 1.40548ZM4.51765 8.1L3.75479 7.54576L2.99194 8.1L3.28335 7.2032L2.52046 6.64896H3.46342L3.75479 5.75216L4.04617 6.64896H4.98913L4.22624 7.2032L4.51765 8.1ZM4.22624 4.58146L4.51765 5.47826L3.75479 4.92402L2.99194 5.47826L3.28335 4.58146L2.52046 4.02722H3.46342L3.75479 3.13042L4.04617 4.02722H4.98913L4.22624 4.58146ZM7.74591 8.1L6.98305 7.54576L6.22019 8.1L6.51161 7.2032L5.74871 6.64896H6.69168L6.98305 5.75216L7.27443 6.64896H8.21739L7.4545 7.2032L7.74591 8.1ZM7.4545 4.58146L7.74591 5.47826L6.98305 4.92402L6.22019 5.47826L6.51161 4.58146L5.74871 4.02722H6.69168L6.98305 3.13042L7.27443 4.02722H8.21739L7.4545 4.58146ZM7.4545 1.95971L7.74591 2.85652L6.98305 2.30228L6.22019 2.85652L6.51161 1.95971L5.74871 1.40548H6.69168L6.98305 0.508676L7.27443 1.40548H8.21739L7.4545 1.95971Z" fill="#0052B4")
											defs
												clipPath(id="clip0_78_1898")
													rect(width="18" height="18" fill="white")
										| English

					.header__regbuttons 
						a(href="#").btn.btn--grayborder 
							svg(width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(fill-rule="evenodd" clip-rule="evenodd" d="M9.19141 2.5361C8.88741 1.2881 7.11141 1.2881 6.80741 2.5361C6.76202 2.72363 6.673 2.8978 6.54759 3.04443C6.42217 3.19106 6.26391 3.306 6.08569 3.37991C5.90746 3.45382 5.71429 3.48461 5.52192 3.46977C5.32954 3.45493 5.14339 3.39487 4.97861 3.2945C3.88101 2.6257 2.62501 3.8817 3.29381 4.9793C3.72581 5.6881 3.34261 6.6129 2.53621 6.8089C1.28741 7.1121 1.28741 8.8889 2.53621 9.1913C2.72379 9.23674 2.89799 9.32585 3.04462 9.45135C3.19125 9.57686 3.30616 9.73523 3.38 9.91355C3.45384 10.0919 3.48452 10.2851 3.46954 10.4775C3.45457 10.67 3.39435 10.8561 3.29381 11.0209C2.62501 12.1185 3.88101 13.3745 4.97861 12.7057C5.14336 12.6052 5.32953 12.5449 5.52196 12.53C5.71438 12.515 5.90763 12.5457 6.08595 12.6195C6.26428 12.6933 6.42264 12.8083 6.54815 12.9549C6.67366 13.1015 6.76277 13.2757 6.80821 13.4633C7.11141 14.7121 8.88821 14.7121 9.19061 13.4633C9.23621 13.2758 9.3254 13.1017 9.45093 12.9552C9.57647 12.8087 9.73481 12.6938 9.91308 12.62C10.0913 12.5462 10.2845 12.5155 10.4769 12.5304C10.6693 12.5453 10.8554 12.6053 11.0202 12.7057C12.1178 13.3745 13.3738 12.1185 12.705 11.0209C12.6046 10.8561 12.5446 10.67 12.5297 10.4776C12.5148 10.2852 12.5455 10.092 12.6193 9.91377C12.6932 9.7355 12.808 9.57716 12.9545 9.45162C13.101 9.32609 13.2751 9.2369 13.4626 9.1913C14.7114 8.8881 14.7114 7.1113 13.4626 6.8089C13.275 6.76345 13.1008 6.67435 12.9542 6.54884C12.8076 6.42333 12.6927 6.26497 12.6188 6.08664C12.545 5.90832 12.5143 5.71507 12.5293 5.52265C12.5443 5.33022 12.6045 5.14405 12.705 4.9793C13.3738 3.8817 12.1178 2.6257 11.0202 3.2945C10.8555 3.39504 10.6693 3.45526 10.4769 3.47023C10.2844 3.48521 10.0912 3.45453 9.91287 3.38069C9.73454 3.30685 9.57618 3.19193 9.45067 3.04531C9.32516 2.89868 9.23605 2.72448 9.19061 2.5369L9.19141 2.5361ZM7.99941 10.4001C8.63593 10.4001 9.24638 10.1472 9.69647 9.69715C10.1466 9.24707 10.3994 8.63662 10.3994 8.0001C10.3994 7.36358 10.1466 6.75313 9.69647 6.30304C9.24638 5.85295 8.63593 5.6001 7.99941 5.6001C7.36289 5.6001 6.75244 5.85295 6.30235 6.30304C5.85227 6.75313 5.59941 7.36358 5.59941 8.0001C5.59941 8.63662 5.85227 9.24707 6.30235 9.69715C6.75244 10.1472 7.36289 10.4001 7.99941 10.4001Z" fill="black")
							| Настройки профиля
						a(href="#").btn.btn--black Выход
						.header__regicon
							svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M15 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H15" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M10 17L15 12L10 7" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M15 12H3" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

				.header__line

		// menu
		#menuDrop.menu
			
			.menu__profile
				.container
					.menu__profileblock
						.menu__profilehead
							a(href="#").panel__profile
								.panel__profile-img 
									img(src="img/user.jpg", alt="")
								.panel__profile-content
									.panel__profile-title Николаев Олег
									.panel__profile-text Редактировать профиль
									.header__checktheme.d-xl-none.d-inline-flex
										.header__checktheme-icon.active
											svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
												path(fill-rule="evenodd" clip-rule="evenodd" d="M9.00078 1.80005C9.23948 1.80005 9.46839 1.89487 9.63718 2.06365C9.80596 2.23244 9.90078 2.46135 9.90078 2.70005V3.60005C9.90078 3.83874 9.80596 4.06766 9.63718 4.23644C9.46839 4.40523 9.23948 4.50005 9.00078 4.50005C8.76209 4.50005 8.53317 4.40523 8.36438 4.23644C8.1956 4.06766 8.10078 3.83874 8.10078 3.60005V2.70005C8.10078 2.46135 8.1956 2.23244 8.36438 2.06365C8.53317 1.89487 8.76209 1.80005 9.00078 1.80005ZM12.6008 9.00005C12.6008 9.95483 12.2215 10.8705 11.5464 11.5456C10.8712 12.2208 9.95556 12.6 9.00078 12.6C8.046 12.6 7.13033 12.2208 6.4552 11.5456C5.78007 10.8705 5.40078 9.95483 5.40078 9.00005C5.40078 8.04527 5.78007 7.12959 6.4552 6.45446C7.13033 5.77933 8.046 5.40005 9.00078 5.40005C9.95556 5.40005 10.8712 5.77933 11.5464 6.45446C12.2215 7.12959 12.6008 8.04527 12.6008 9.00005ZM12.1832 13.455L12.8195 14.0913C12.9892 14.2553 13.2166 14.346 13.4525 14.344C13.6885 14.3419 13.9142 14.2473 14.0811 14.0804C14.248 13.9135 14.3426 13.6878 14.3447 13.4518C14.3467 13.2158 14.256 12.9885 14.0921 12.8187L13.4558 12.1824C13.286 12.0185 13.0587 11.9278 12.8227 11.9298C12.5867 11.9319 12.361 12.0265 12.1941 12.1934C12.0273 12.3603 11.9326 12.586 11.9306 12.822C11.9285 13.058 12.0192 13.2853 12.1832 13.455ZM14.0912 3.90875C14.2599 4.07752 14.3547 4.3064 14.3547 4.54505C14.3547 4.7837 14.2599 5.01257 14.0912 5.18135L13.4558 5.81765C13.3728 5.90361 13.2734 5.97217 13.1636 6.01934C13.0538 6.06651 12.9357 6.09134 12.8162 6.09237C12.6967 6.09341 12.5782 6.07064 12.4676 6.02539C12.357 5.98014 12.2565 5.91331 12.172 5.8288C12.0875 5.7443 12.0207 5.64381 11.9754 5.53321C11.9302 5.4226 11.9074 5.30409 11.9085 5.18459C11.9095 5.06509 11.9343 4.94699 11.9815 4.83718C12.0287 4.72738 12.0972 4.62807 12.1832 4.54505L12.8195 3.90875C12.9883 3.74002 13.2171 3.64524 13.4558 3.64524C13.6944 3.64524 13.9233 3.74002 14.0921 3.90875H14.0912ZM15.3008 9.90005C15.5395 9.90005 15.7684 9.80523 15.9372 9.63644C16.106 9.46766 16.2008 9.23874 16.2008 9.00005C16.2008 8.76135 16.106 8.53243 15.9372 8.36365C15.7684 8.19487 15.5395 8.10005 15.3008 8.10005H14.4008C14.1621 8.10005 13.9332 8.19487 13.7644 8.36365C13.5956 8.53243 13.5008 8.76135 13.5008 9.00005C13.5008 9.23874 13.5956 9.46766 13.7644 9.63644C13.9332 9.80523 14.1621 9.90005 14.4008 9.90005H15.3008ZM9.00078 13.5C9.23948 13.5 9.46839 13.5949 9.63718 13.7637C9.80596 13.9324 9.90078 14.1614 9.90078 14.4V15.3C9.90078 15.5387 9.80596 15.7677 9.63718 15.9364C9.46839 16.1052 9.23948 16.2 9.00078 16.2C8.76209 16.2 8.53317 16.1052 8.36438 15.9364C8.1956 15.7677 8.10078 15.5387 8.10078 15.3V14.4C8.10078 14.1614 8.1956 13.9324 8.36438 13.7637C8.53317 13.5949 8.76209 13.5 9.00078 13.5ZM4.54578 5.81765C4.62934 5.90127 4.72855 5.96761 4.83775 6.01289C4.94695 6.05816 5.064 6.08149 5.18221 6.08153C5.30043 6.08157 5.41749 6.05833 5.52672 6.01313C5.63595 5.96793 5.73521 5.90166 5.81883 5.8181C5.90245 5.73454 5.96879 5.63533 6.01407 5.52613C6.05935 5.41693 6.08267 5.29988 6.08271 5.18167C6.08275 5.06345 6.05951 4.94639 6.01431 4.83716C5.96911 4.72793 5.90284 4.62867 5.81928 4.54505L5.18208 3.90875C5.01234 3.74481 4.785 3.65409 4.54902 3.65614C4.31304 3.65819 4.08731 3.75284 3.92044 3.91971C3.75358 4.08658 3.65893 4.31231 3.65687 4.54829C3.65482 4.78426 3.74554 5.01161 3.90948 5.18135L4.54578 5.81765ZM5.81838 13.455L5.18208 14.0913C5.01234 14.2553 4.785 14.346 4.54902 14.344C4.31304 14.3419 4.08731 14.2473 3.92044 14.0804C3.75358 13.9135 3.65893 13.6878 3.65687 13.4518C3.65482 13.2158 3.74554 12.9885 3.90948 12.8187L4.54578 12.1824C4.71552 12.0185 4.94286 11.9278 5.17884 11.9298C5.41482 11.9319 5.64055 12.0265 5.80742 12.1934C5.97428 12.3603 6.06894 12.586 6.07099 12.822C6.07304 13.058 5.98232 13.2853 5.81838 13.455ZM3.60078 9.90005C3.83948 9.90005 4.06839 9.80523 4.23718 9.63644C4.40596 9.46766 4.50078 9.23874 4.50078 9.00005C4.50078 8.76135 4.40596 8.53243 4.23718 8.36365C4.06839 8.19487 3.83948 8.10005 3.60078 8.10005H2.70078C2.46209 8.10005 2.23317 8.19487 2.06439 8.36365C1.8956 8.53243 1.80078 8.76135 1.80078 9.00005C1.80078 9.23874 1.8956 9.46766 2.06439 9.63644C2.23317 9.80523 2.46209 9.90005 2.70078 9.90005H3.60078Z")
										.header__checktheme-icon
											svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
												path(d="M15.5636 11.9637C14.2303 12.5668 12.7448 12.7493 11.3051 12.4868C9.86548 12.2244 8.53995 11.5295 7.50518 10.4947C6.4704 9.45994 5.77551 8.13442 5.51307 6.69475C5.25063 5.25508 5.43312 3.76962 6.03622 2.43628C4.97472 2.91599 4.04545 3.64605 3.32812 4.56384C2.61079 5.48163 2.12682 6.55974 1.91773 7.70568C1.70865 8.85162 1.78068 10.0312 2.12766 11.1432C2.47464 12.2551 3.0862 13.2663 3.90988 14.09C4.73356 14.9137 5.74476 15.5253 6.85674 15.8722C7.96872 16.2192 9.14828 16.2912 10.2942 16.0822C11.4402 15.8731 12.5183 15.3891 13.4361 14.6718C14.3538 13.9544 15.0839 13.0252 15.5636 11.9637Z")
						ul.panel__menu 
							li
								a(href="#").panel__menu-link
									span.panel__menu-icon 
										svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(opacity="0.24")
												path(d="M6.75 15.7501H11.25M6.75 15.7501H5.25C3.59314 15.7501 2.25 14.4069 2.25 12.7501V8.0308C2.25 6.98175 2.79796 6.00891 3.69509 5.46519L7.44509 3.19246C8.40083 2.61325 9.59918 2.61325 10.5549 3.19246L14.3049 5.46519C15.2021 6.00891 15.75 6.98175 15.75 8.0308V12.7501C15.75 14.4069 14.4068 15.7501 12.75 15.7501H11.25H6.75ZM6.75 15.7501V12.7501C6.75 11.5074 7.75732 10.5001 9 10.5001C10.2427 10.5001 11.25 11.5074 11.25 12.7501V15.7501H6.75Z" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
									| Панель управления
							li
								a(href="#").panel__menu-link
									span.panel__menu-icon 
										svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(opacity="0.24")
												path(d="M2.25 12.75H15.75H2.25ZM4.5 7.5V2.7C4.5 2.45147 4.70147 2.25 4.95 2.25H13.05C13.2985 2.25 13.5 2.45147 13.5 2.7V7.5H4.5ZM15.75 15.3V10.5C15.75 8.84317 14.4068 7.5 12.75 7.5H5.25C3.59314 7.5 2.25 8.84317 2.25 10.5V15.3C2.25 15.5485 2.45147 15.75 2.7 15.75H15.3C15.5485 15.75 15.75 15.5485 15.75 15.3Z" stroke="#080809" stroke-width="1.5")
												path(d="M12.75 9.75735L12.7575 9.74902" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
									| Принтеры
									span.panel__menu-num 2
							li
								a(href="#").panel__menu-link
									span.panel__menu-icon 
										svg(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											g(opacity="0.24")
												path(d="M4.5 13.2L3 12.375V10.5" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M3 7.4998V5.6248L4.5 4.7998" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M7.5 3.075L9 2.25L10.5 3.075" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M13.5 4.7998L15 5.6248V7.4998" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M15 10.5V12.375L13.5 13.215" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M10.5 14.9248L9 15.7498L7.5 14.9248" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M9 8.9998L10.5 8.1748" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M13.5 6.45L15 5.625" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M9 9V10.875" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M9 13.875V15.75" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M9 8.99991L7.5 8.15991" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
												path(d="M4.5 6.45L3 5.625" stroke="#080809" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
									| Модели
									span.panel__menu-num 46
					
			#menu-over.menu__over
		// /menu

// /header