.gallery {
  padding: 100px 0 120px;
  .title {
    margin-bottom: 80px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(233, 235, 236, 0) 0%, #DADCDD 83.33%), url(Pro1_2.png), radial-gradient(50% 50% at 50% 50%, #FEFFFF 0%, #D9DDDF 100%);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    color: #000;
    img {
      width: 100%;
      height: 100%;
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }
    &--big {
      height: 700px;
      .gallery__content {
        max-width: 400px;
      }
    }
    &--mini {
      height: 320px;
    }
    &--small {
      height: 360px;
    }
    &:hover {
      .gallery__over {
        opacity: 1;
      }
      .gallery__content {
        transform: translate(0, 0);
      }
    }
  }
  &__over {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 46px;
    background: linear-gradient(to top, #DBDCDD 20%, transparent);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }
  &__content {
    transform: translate(0, 200px);
    transition: 0.3s;
  }
  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 12px;
  }
  &__text {
    font-size: 16px;
    line-height: 22px;
    color: #7A7B7B;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 124px;
    border-radius: 100%;
    background-color: $red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:after {
      content: '';
      display: block;
      width: 36px;
      height: 36px;
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 16.5V19.5M13.5 16.5H16.5H13.5ZM19.5 16.5H16.5H19.5ZM16.5 16.5V13.5V16.5Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M24 24L30 30' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 16.5C6 22.299 10.701 27 16.5 27C19.4045 27 22.0336 25.8207 23.9344 23.9148C25.8288 22.0154 27 19.3944 27 16.5C27 10.701 22.299 6 16.5 6C10.701 6 6 10.701 6 16.5Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__titlefancy {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 4px;
  }
  &__textfancy {
    font-size: 16px;
    line-height: 20px;
    color: #A9A9A9;
  }
  @include media-breakpoint-down(xxl) {
    padding: 100px 0;
  }
  @include media-breakpoint-down(lg) {
    &__item {
      &--big {
        height: 320px;
      }
      &--mini {
        height: 320px;
      }
      &--small {
        height: 320px;
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding: 44px 0 80px;
    .title {
      margin-bottom: 32px;
    }
    &__icon {
      width: 86px;
      height: 86px;
      &:after {
        width: 24px;
        height: 24px;
      }
    }
  }
}