.panel {
  padding: 20px 0;
  &__block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 18px;
    height: 100%;
    &--1 {
      max-height: 780px;
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 42px 35px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #EBEBEB;
      position: absolute;
      left: 42px;
      right: 42px;
      bottom: 0;
    }
  }
  &__body {
    flex-grow: 1;
    padding: 26px;
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    span {
      font-size: 24px;
      line-height: 29px;
      color: #848484;
      vertical-align: top;
      margin-left: 12px;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-right: 60px;
    &:hover {
      .panel__profile-icon {
        transform: translate(5px,-50%);
      }
    }
  }
  &__profile-img {
    display: block;
    width: 50px;
    height: 50px;
    padding: 4px;
    margin-right: 16px;
    flex-shrink: 0;
    border: 1.5px solid $red;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__profile-content {

  }
  &__profile-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 2px;
    color: #000;
  }
  &__profile-text {
    font-size: 14px;
    line-height: 17px;
    color: #757575;
  }
  &__profile-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    transition: 0.2s;
    svg {
      fill:#C4C4C4;
    }
  }
  &__menu {
    
  }
  &__menu-link {
    display: flex;
    align-items: center;
    padding: 16px 60px 16px 16px;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    position: relative;
    border-radius: 12px;
    &:hover {
      background: #F4F7F9;
    }
  }
  &__menu-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 4px;
    margin-right: 16px;
  }
  &__menu-num {
    padding: 2px 8px 4px;
    border-radius: 12px;
    background-color: $red;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &__footer {
    padding: 32px 42px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #EBEBEB;
      position: absolute;
      left: 42px;
      right: 42px;
      top: 0;
    }
  }
  &__back {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #000;
    svg {
      margin-top: 4px;
      margin-right: 9px;
    }
    &:hover {
      color: $red;
    }
  }
  &__item {
    display: block;
    height: 280px;
    background-color: #F8FAFB;
    border-radius: 16px;
    color: #000;
    position: relative;
    overflow: hidden;
    &:hover {
      .panel__item-plus {
        transform: scale(1.1);
      }
    }
  }
  &__item-img {
    text-align: center;
    img {
    }
  }
  &__item-num {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    position: absolute;
    right: 42px;
    bottom: 46px;
    z-index: 2;
    span {
      display: block;
      font-size: 64px;
      line-height: 77px;
    }
  }
  &__item-plus {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: $red;
    position: absolute;
    left: 42px;
    bottom: 46px;
    transition: 0.2s;
    &:after,&:before {
      content: '';
      display: block;
      width: 30%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      }
      &:after {
        transform: translate(-50%,-50%);
      }
      &:before {
        transform: translate(-50%,-50%) rotate(90deg);
      }
  }
  &__quantity {
    height: 100%;
    padding: 24px 32px;
    font-size: 16px;
    line-height: 22px;
    color: #8D8E8E;
    border-radius: 12px;
    border: 1px solid #EBEBEB;
    span {
      display: block;
      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 12px;
      color: #000;
      white-space: nowrap;
    }
  }
  &__avatar {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  &__avatar-img {
    width: 124px;
    height: 124px;
    margin-right: 32px;
    flex-shrink: 0;
    padding: 5px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid $red;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__avatar-content {

  }
  &__avatar-buttons {
    display: flex;
    margin-left: -12px;
  }
  &__avatar-btn {
    margin-left: 12px;
    margin-bottom: 12px;
    svg {
      fill: #D3D3D3;
    }
    input {
      display: none;
    }
    .btn {
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  &__avatar-text {
    font-size: 14px;
    line-height: 17px;
    color: #8D8E8E;
  }
  &__form {

  }
  &__formrow {
    padding: 24px 0;
    border-bottom: 1px solid #EBEBEB;
    &:nth-last-child(-n+2) {
      border: none;
    }
    .row {
      max-width: 660px;
    }
  }
  &__formbtn {
    padding-top: 60px;
  }
  &__bottom  {
    display: none;
  }
  &__add-btn {
    .btn {
      svg {
        margin-right: 6px;
      }
    }
  }
  &__search {
    position: relative;
    flex-grow: 1;
    margin-left: 36px;
    margin-right: 16px;
    input {
      padding-left: 50px;
    }
  }
  &__search-icon {
    position: absolute;
    top: 18px;
    left: 20px;
    z-index: 2;
    cursor: text;
  }
  &__table {
    overflow-y: auto;
    table {
      width: 100%;
      min-width: 800px;
      border-collapse: separate;
      border-spacing: 0 10px;
      font-size: 15px;
      line-height: 18px;
    }
    tr {
      
    }
    td {
      margin: -5px 0;
      padding: 24px 10px;
      background-color: #F8FAFB;
      vertical-align: middle;
      white-space: nowrap;
      img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background-color: #DCE2E5;
        padding: 4px;
        object-fit: contain;
        object-position: center;
      }
      &:first-child {
        min-width: 84px;
        padding: 24px 10px 24px 24px;
        border-radius: 12px 0 0 12px;
      }
      &:last-child {
        padding: 24px 24px 24px 10px;
        border-radius: 0 12px 12px 0;
        text-align: right;
      }
      &:nth-last-child(2) {
        text-align: right;
      }
    }
  }
  &__table-title {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }
  &__table-sn {
    display: inline-flex;
    align-items: center;
    padding: 3px 8px 4px 8px;
    background-color: #EEF0F1;
    border-radius: 18px;
    font-size: 13px;
    line-height: 16px;
    color: #8A8B8B;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      background-color: transparent;
      border-radius: 100%;
      position: absolute;
      top: 7.5px;
      left: 8px;
    }
    &--ttu {
      text-transform: uppercase;
    }
    &--success {
      padding: 3px 8px 4px 22px;
      &:after {
        background-color: #69C630;
      }
    }
    &--error {
      padding: 3px 28px 4px 22px;
      &:after {
        background-color: #D83A56;
      }
      &:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.6004 7.4999C12.6004 8.98511 12.0104 10.4095 10.9602 11.4597C9.90998 12.5099 8.4856 13.0999 7.00039 13.0999C5.51518 13.0999 4.0908 12.5099 3.04059 11.4597C1.99039 10.4095 1.40039 8.98511 1.40039 7.4999C1.40039 6.01469 1.99039 4.59031 3.04059 3.5401C4.0908 2.4899 5.51518 1.8999 7.00039 1.8999C8.4856 1.8999 9.90998 2.4899 10.9602 3.5401C12.0104 4.59031 12.6004 6.01469 12.6004 7.4999ZM7.70039 4.6999C7.70039 4.88555 7.62664 5.0636 7.49537 5.19488C7.36409 5.32615 7.18604 5.3999 7.00039 5.3999C6.81474 5.3999 6.63669 5.32615 6.50542 5.19488C6.37414 5.0636 6.30039 4.88555 6.30039 4.6999C6.30039 4.51425 6.37414 4.3362 6.50542 4.20493C6.63669 4.07365 6.81474 3.9999 7.00039 3.9999C7.18604 3.9999 7.36409 4.07365 7.49537 4.20493C7.62664 4.3362 7.70039 4.51425 7.70039 4.6999ZM6.30039 6.7999C6.11474 6.7999 5.93669 6.87365 5.80542 7.00493C5.67414 7.1362 5.60039 7.31425 5.60039 7.4999C5.60039 7.68555 5.67414 7.8636 5.80542 7.99488C5.93669 8.12615 6.11474 8.1999 6.30039 8.1999V10.2999C6.30039 10.4856 6.37414 10.6636 6.50542 10.7949C6.63669 10.9262 6.81474 10.9999 7.00039 10.9999H7.70039C7.88604 10.9999 8.06409 10.9262 8.19536 10.7949C8.32664 10.6636 8.40039 10.4856 8.40039 10.2999C8.40039 10.1143 8.32664 9.9362 8.19536 9.80493C8.06409 9.67365 7.88604 9.5999 7.70039 9.5999V7.4999C7.70039 7.31425 7.62664 7.1362 7.49537 7.00493C7.36409 6.87365 7.18604 6.7999 7.00039 6.7999H6.30039Z' fill='%23080809'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 4.5px;
        right: 8px;
      }
    }
    &--detail {
      padding: 3px 8px 4px 22px;
      &:after {
        width: 12px;
        height: 12px;
        margin-top: -2px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.40039 2.89995C2.40039 2.58169 2.52682 2.27647 2.75186 2.05142C2.97691 1.82638 3.28213 1.69995 3.60039 1.69995H6.35199C6.67023 1.70002 6.9754 1.82649 7.20039 2.05155L9.24879 4.09995C9.47385 4.32494 9.60032 4.63012 9.60039 4.94835V10.1C9.60039 10.4182 9.47396 10.7234 9.24892 10.9485C9.02388 11.1735 8.71865 11.3 8.40039 11.3H3.60039C3.28213 11.3 2.97691 11.1735 2.75186 10.9485C2.52682 10.7234 2.40039 10.4182 2.40039 10.1V2.89995Z' fill='%23080809'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &__table-subtitle {
    display: block;
    margin-bottom: 4px;
    color: #8A8B8B;
  }
  &__table-text {
    display: block;
    font-weight: bold;
  }
  &__table-link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
    svg {
      margin-right: 6px;
    }
    &:hover {
      color: $red;
    }
  }
  &__table-icon {
    margin-left: 24px;
    cursor: pointer;
    user-select: none;
    svg {
      stroke: #BFC0C1;
      transition: 0.2s;
    }
    &:hover {
      svg {
        stroke: $red;
      }
    }
  }
  &__table-img-model {
    padding: 0 !important;
  }
  &__paginaton {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 10px;
    margin-top: 20px;
    position: relative;
    &:after {
      content: '';
      display: block;
      height: 1px;
      background-color: #EBEBEB;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
    .news__list {
      margin-top: 0;
    }
  }
  @include media-breakpoint-down(xxl) {
    &__quantity {
      font-size: 16px;
      line-height: 19px;
      span {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 0;
      }
    }
    &__item-num {
      span {
        font-size: 46px;
        line-height: 55px;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    padding: 20px 0 0;
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 0;
    }
    &__search {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  @include media-breakpoint-down(md) {
    &__head {
      padding: 24px 20px;
      &:after {
        left: 24px;
        right: 24px;
      }
    }
    &__body {
      padding: 20px;
    }
    &__title {
      font-size: 26px;
      line-height: 31px;
    }
    &__item-num {
      right: 20px;
      bottom: 24px;
      text-align: right;
    }
    &__item-plus {
      left: 20px;
      bottom: 30px;
    }
    &__avatar {
      flex-wrap: wrap;
    }
    &__avatar-img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;
    }
    &__avatar-content {
      width: 100%;
    }
    &__avatar-buttons {
      flex-wrap: wrap;
    }
    &__avatar-btn {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
    &__formrow {
      padding: 20px 0;
    }
    &__formbtn {
      padding-top: 4px;
      .btn {
        width: 100%;
      }
    }
    &__table {
      overflow: hidden;
      table {
        display: block;
        min-width: 0;
        border-spacing: 0;
      }
      tr {
        display: flex;
        flex-wrap: wrap;
        padding: 24px 20px;
        background-color: #F8FAFB;
        border-radius: 12px;
        margin: 10px 0;
        position: relative;
      }
      td {
        display: block;
        background: transparent;
        &:nth-child(1) {
          // width: 25%;
          padding: 0;
          position: absolute;
          top: 24px;
          left: 20px;
        }
        &:nth-child(2) {
          width: 100%;
          min-height: 50px;
          padding: 0;
          padding-left: 70px;
        }
        &:nth-child(3) {
          width: 50%;
          padding: 20px 0;
          margin: 20px 0;
          border-top: 1px solid #E4E6E7;
          border-bottom: 1px solid #E4E6E7;
        }
        &:nth-child(4) {
          width: 50%;
          padding: 20px 0;
          margin: 20px 0;
          border-top: 1px solid #E4E6E7;
          border-bottom: 1px solid #E4E6E7;
          text-align: right;
        }
        &:nth-child(5) {
          width: 65%;
          text-align-last: left;
          padding: 0;
        }
        &:nth-child(6) {
          width: 35%;
          padding: 0;
        }
      }
      &--models {
        td {
          &:nth-child(3) {
            width: 100%;
            padding-left: 70px;
            margin-bottom: 0;
            border-bottom: none;
            border-top: none;
          }
          &:nth-child(4) {
            width: 100%;
            padding-top: 0;
            padding-left: 70px;
            margin-top: 0;
            border-top: none;
            text-align-last: left;
          }
        }
      }
    }
    &__table-icon {
      margin-left: 20px;
    }
    &__add-btn {
      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        padding: 5px;
        border-radius: 100%;
        svg {
          margin-right: 0;
        }
      }
    }
    &__table-sn {
      white-space: pre-wrap;
    }
  }
}