.productlines {
  padding: 120px 0 90px;
  background-color: #262B2D;
  background-image: url(../img/productlines_bg.jpg);
  background-size: cover;
  background-position: center;
  .title {
    margin-bottom: 24px;
  }
  &__text {
    max-width: 720px;
    color: #fff;
    opacity: 0.64;
    margin-bottom: 56px;
  }
  &__item {
    padding: 56px 64px;
    background: #FFFFFF;
    border-radius: 18px;
    margin-bottom: 30px;
    position: relative;
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 18px;
    span {
      display: flex;
      align-items: center;
      padding: 6px 16px 7px;
      margin-left: 12px;
      background-color: #A5AEB4;
      border-radius: 42px;
      font-size: 15px;
      line-height: 18px;
      color: #fff;
      text-transform: uppercase;
      img {
        width: 18px;
        margin-left: 6px;
      }
    }
  }
  &__subtext {
    max-width: 620px;
    color: #8A8A8A;
    margin-bottom: 42px;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__images {
    display: flex;
    width: 55%;
  }
  &__imagebig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 360px;
    padding: 20px;
    margin-right: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #474C4F 0%, #2A2D2F 100%);
    border-radius: 12px;
    img {
      max-height: 100%;
    }
  }
  &__imagessmall {
    width: 180px;
    margin-top: -20px;
    flex-shrink: 0;
  }
  &__imgsmall {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin-top: 20px;
    padding: 10px;
    background-color: #2A2D2F;
    border-radius: 12px;
    &:not(:nth-child(1)) {
      display: none;
    }
    img {
      max-height: 100%;
    }
  }
  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    padding: 10px;
    margin-top: 20px;
    background-color: #E9EDEF;
    border-radius: 12px;
    font-size: 36px;
    color: #989B9C;
  }
  &__content {
    width: 45%;
    padding-left: 74px;
  }
  &__subtitle {
    padding-left: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 26px;
  }
  &__list {
    color: #616161;
    li {
      padding-left: 20px;
      margin-bottom: 18px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: $red;
        border-radius: 100%;
        position: absolute;
        top: 12px;
        left: 0;
      }
    }
  }
  &__property {
    padding: 42px 0;
    margin-bottom: 32px;
    border-bottom: 1px solid #E1E1E1;
  }
  &__property-row {
    display: flex;
    margin-left: -90px;
  }
  &__property-item {
    display: flex;
    align-items: center;
    margin-left: 90px;
  }
  &__property-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 46px;
    height: 46px;
    margin-right: 18px;
    background-color: #E9EDEF;
    border-radius: 15px;
  }
  &__property-content {

  }
  &__property-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 3px;
  }
  &__property-text {
    font-size: 14px;
    line-height: 17px;
    color: #8D8E8E;
  }
  @include media-breakpoint-down(xxl) {
    padding: 100px 0 80px;
    background-image: url(../img/productlines_bg_xl.jpg);
    .title {
      margin-bottom: 16px;
    }
    &__text {
      max-width: 580px;
      margin-bottom: 46px;
      font-size: 16px;
      line-height: 26px;
    }
    &__item {
      padding: 46px;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 32px;
      line-height: 38px;
      span {
        margin-left: 8px;
      }
    }
    &__subtext {
      max-width: 480px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 36px;
    }
    &__imagessmall {
      width: 116px;
      margin-top: -16px;
    }
    &__imgsmall {
      height: 110px;
      margin-top: 16px;
      &:nth-child(2) {
        display: flex;
      }
    }
    &__count {
      height: 110px;
      margin-top: 16px;
    }
    &__images {
      width: 58%;
    }
    &__content {
      width: 42%;
      padding-left: 44px;
    }
    &__property {
      padding: 42px 0 30px;
      margin-bottom: 24px;
    }
  }
  @include media-breakpoint-down(lg) {
    &__images {
      width: 100%;
    }
    &__content {
      width: 100%;
      padding-left: 0;
      border-bottom: 1px solid #E1E1E1;
      padding-bottom: 36px;
      margin-bottom: 20px;
    }
    &__property {
      padding: 20px 0 26px;
      border: none;
      margin-bottom: 0;
    }
    &__property-row {
      flex-wrap: wrap;
    }
    &__property-item {
      width: 100%;
      padding: 12px 0;
    }
  }
  @include media-breakpoint-down(md) {
    padding: 80px 0 60px;
    background-image: url(../img/productlines_bg_sm.jpg);
    &__text {
      line-height: 24px;
    }
    &__item {
      padding: 42px 24px 20px;
    }
    &__title {
      font-size: 26px;
      line-height: 31px;
      margin-bottom: 18px;
    }
    &__images {
      display: block;
    }
    &__imagebig {
      width: 100%;
      height: 170px;
      margin-right: 0;
      margin-bottom: 8px;
    }
    &__imagessmall {
      display: flex;
      width: auto;
      margin-left: -8px;
      margin-top: 0;
      flex-direction: row;
    }
    &__imgsmall {
      width: 25%;
      height: 60px;
      margin-top: 0;
      margin-left: 8px;
      &:nth-child(3) {
        display: flex;
      }
    }
    &__count {
      width: 25%;
      height: 60px;
      margin-top: 0;
      margin-left: 8px;
      font-size: 18px;
    }
    .btn {
      width: 100%;
    }
  }
}