.welcome {
  position: relative;
  background-image: url(../img/grid.png);
  background-position: bottom -300px right;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
  .container {
    padding-top: 180px;
    padding-bottom: 100px;
    min-height: 980px;
    position: relative;
  }
  &__content {
    position: relative;
    z-index: 2;
  }
  &__title {
    max-width: 1050px;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.05;
    letter-spacing: -0.02em;
    margin-bottom: 56px;
  }
  &__text {
    max-width: 560px;
    color: #878889;
    margin-bottom: 86px;
  }
  &__buttons {
    margin-left: -16px;
  }
  &__img {
    position: absolute;
    bottom: 0;
    right: -150px;
  }
  @include media-breakpoint-down(xxl) {
    .container {
      min-height: 780px;
      padding-top: 160px;
      padding-bottom: 80px;
    }
    &__title {
      max-width: 750px;
      font-size: 46px;
      margin-bottom: 46px;
    }
    &__img {
      width: 61%;
      bottom: 50%;
      transform: translate(0,50%);
    }
  }
  @include media-breakpoint-down(xl) {
    background-position: bottom -100px right;
  }
  @include media-breakpoint-down(lg) {
    background-position: top right;
    background-size: 150% auto;
    .container {
      display: flex;
      flex-direction: column;
      padding-top: 64px;
      padding-bottom: 64px;
    }
    &__content {
      order: 2;
    }
    &__img {
      width: 100%;
      position: static;
      right: auto;
      bottom: auto;
      order: 1;
      text-align: center;
      transform: translate(0,0);
    }
  }
  @include media-breakpoint-down(md) {
    background-size: 200% auto;
    &__title {
      font-size: 36px;
      margin-bottom: 24px;
    }
    &__text {
      margin-bottom: 46px;
    }
    &__buttons {
      margin-left: 0;
      .menu__btn {
        width: 100%;
        margin-left: 0;
      }
    }
    &__img {
      margin-bottom: 54px;
    }
  }
  @include media-breakpoint-down(sm) {
    background-position: top 100px right;
  }
}